* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #0f4666ee;
    height: 80px;
    text-align: left;
    width: auto;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }

nav {
    color:rgb(104, 155, 255);
    float:right;
    padding: 25px 10px 0px 0px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .logo {
    max-width: 100px;
    display: inline-block;
  }

  nav li {
    display: inline-block;
  }
  
  nav li a {
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Arial Black', sans-serif;
  }
  
  nav li:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

.container {
  display: inherit;
  gap: 35px;
  padding: 30px;
}

.right {
    display: inline-block;
    padding: 0px 20px 0px 0px;
    position: fixed;
    width: -webkit-fill-available;
}

.left {
    display: inline-block;
  }

.weather-input {
  width: 550px;
  padding: 20px 0 0 0;
  color: #bdd5eb;
}

.weather-input input {
  height: 46px;
  width: 100%;
  outline: none;
  font-size: 1.07rem;
  padding: 0 17px;
  margin: 10px 0 20px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.weather-input input:focus {
  padding: 0 16px;
  border: 2px solid #ffffff;
}

.weather-input .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #BBBBBB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-input button {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  background: #22719eee;
  transition: 0.2s ease;
}

.weather-input .search-btn:hover {
  background: #155a83ee;
}

.weather-input .location-btn {
  background: #bdd5eb;
  color: #123447ee;
}

.weather-input .location-btn:hover {
  background: #83a9cc;
}

.weather-data {
  width: 100%;
}

.weather-data .current-weather {
  color: #fff;
  background: #22719eee;
  border-radius: 5px;
  padding: 20px 300px 20px 20px;
  display: inline-block;
  justify-content: space-between;
}

.current-weather h2 {
  font-weight: 700;
  font-size: 1.7rem;
}

.weather-data h6 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}

.current-weather .icon {
  text-align: center;
}

.current-weather .icon img {
  max-width: 120px;
  margin-top: -15px;
}

.current-weather .icon h6 {
  margin-top: -10px;
  text-transform: capitalize;
}

.days-forecast h2 {
  margin: 20px 0;
  font-size: 1.5rem;
  color: #bdd5eb;
}

.days-forecast .weather-cards {
  display: flex;
  gap: 20px;
}

.weather-cards .card {
  color: #123447ee;
  padding: 18px 16px;
  list-style: none;
  width: calc(100% / 5);
  background: #bdd5eb;
  border-radius: 5px;
}

.weather-cards .card h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

.weather-cards .card img {
  max-width: 70px;
  margin: 5px 0 -12px 0;
}



@media (max-width: 1400px) { /*this is for resizing elements when the window size is changed*/
  .weather-data .current-weather {
    padding: 20px;
  }

  .weather-cards {
    flex-wrap: wrap;
  }

  .weather-cards .card {
    width: calc(100% / 4 - 15px);
  }
}

@media (max-width: 1200px) {
  .weather-cards .card {
    width: calc(100% / 3 - 15px);
  }
}

@media (max-width: 950px) {
  .weather-input {
    width: 450px;
  }

  .weather-cards .card {
    width: calc(100% / 2 - 10px);
  }
}

@media (max-width: 750px) {
  h1 {
    font-size: 1.45rem;
    padding: 16px 0;
  }

  .container {
    flex-wrap: wrap;
    padding: 15px;
  }

  .weather-input {
    width: 100%;
  }

  .weather-data h2 {
    font-size: 1.35rem;
  }

}

.map {
    padding-bottom: 50%;
    position: relative;
}

.map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}